body{
    margin: 0;
    padding: 0;
    background:#050210 ;
}
.one {
    position: absolute;
    top: 30%;
    left: 41%;
    padding: 0;
    background: #ffffff;
    height: 300px;
    width: 300px;
    border-radius: 200px;
    background: linear-gradient(#fb5dad, #55fb9f, #b97aff);
    animation: krug 1s linear infinite;
    z-index: auto;
    
}
.one::before {
    position: absolute;
    top: 30%;
    left: 41%;
    padding: 0;
    background: #ffffff;
    height: 300px;
    width: 300px;
    border-radius: 200px;
    background: linear-gradient(#fb5dad, #55fb9f, #b97aff);
    animation: krug 1s linear infinite;
    z-index: auto;
}
.two{
    content: "";
    margin:0 auto;
    position:absolute;
    top:20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    border-radius: 200px;
    background:#050210;
   
}
@keyframes krug {
    0%{
        transform: rotate(0deg);
        
    }
    100%{
        transform: rotate(360deg);
        
    }
}
.three{
    content: '';
    margin: 0 auto;
    position: absolute;
    top:10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-radius: 100%;
    background: #09041d;
    animation: krug2 1s linear infinite;
    
}

@keyframes krug2{
    0%{
        transform: scale(0.1,0.1);
        filter: blur(5px);
    }
   
    100%{
        transform: scale(1,1);
        filter: blur(5px);
    }
}